<h1>Hola Mundo</h1>

<!-- <% %> Todo lo que esta dentro de esto es JS -->
<!-- MOSTRAR = -->
<p><%= "Hola" %></p>
<p><%= 15 %></p>
<!-- Ejecutar  -->
<% const adrian = {nombre: "Adrian", apellido: "Eguez", cedula: "17"} %>
<% const numero = 25 %>
<% const mensaje = "Hola" %>
<!-- Ejemplo  -->
<p><%= adrian.nombre %> <%= numero %> <%= mensaje %></p>